@model LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <!-- Font Awesome for the back arrow icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Back Arrow -->
    <a asp-action="Index" class="back-arrow">
        <i class="fas fa-arrow-left"></i>
    </a>

    <div class="wrapper">
        <form asp-action="Login" method="post">
            <h2 style="font-weight:bold;color:red;font-style:italic;">Login</h2>
            <div class="input-field">
                <input type="text" asp-for="Email" required>
                <label asp-for="Email">Enter your email</label>
            </div>

            <div class="input-field">
                <input type="password" asp-for="Password" required>
                <label asp-for="Password">Enter your password</label>
            </div>
            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember">
                    <p>Remember me</p>
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit">Log In</button>
            <div class="register">
                <p>Don't have an account? <a style="text-decoration:underline;color:red;font-style:italic;" asp-action="Register">Register</a></p>
            </div>
        </form>
    </div>
</body>
</html>
