body {
    background-image: url('/Images/BG_index.jpg'); 
    background-size: Cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    color: #333; 
}

.header-icon {
    font-size: 5rem; 
    color: #007bff; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    position: relative;
    color: white;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.container {
    margin-top: 20px;
}
