body {
    background-image: url('/Images/DetailsClient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    display: flow;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card-header {
 
    font-size: 1.2rem;
}

.card-footer {

}

.font-weight-bold {
    font-weight: 600;
    font-size: 1.1rem;
}

.text-nowrap {
    white-space: nowrap;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

.video-responsive {
    width: 100%;
    height: 500px;
}

.image-container{
    width: 80%;
    height: 300px;
    padding-top: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-container {
    background-image: url('/Images/no_img.png');
    width: 80%;
    height: 300px;
    padding-top: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-body .row {
    margin-bottom: 15px;
}

.col-sm-3 {
    font-size: 1.1rem;
}

.col-sm-9 {
    font-size: 1.1rem;
}
