body {
    background-image: url('/Images/EditClient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    display: flow;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


div { 
    padding: 10px;
   
}


.media-preview {
    margin-top: 20px;
}